/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');


/* Import tailwindcss*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Gradient Wave Loop Animatetion */
.gradient-text {
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #eab308,
    #ec4899,
    #a855f7,
    #ec4899,
    #eab308
  );
  background-size: 300% 300%;
  background-clip: text;
  
}

/* Wave Text Loop Animatetion */
@keyframes animate {
  0% {
    clip-path: polygon(0% 38%, 9% 36%, 17% 40%, 24% 44%, 29% 42%, 38% 42%, 43% 48%, 50% 51%, 56% 47%, 59% 40%, 68% 39%, 77% 46%, 79% 53%, 87% 54%, 90% 50%, 94% 46%, 98% 46%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 63%, 14% 59%, 23% 69%, 30% 56%, 31% 38%, 41% 38%, 48% 45%, 50% 68%, 63% 63%, 66% 49%, 73% 46%, 79% 57%, 81% 69%, 88% 61%, 90% 54%, 92% 45%, 97% 39%, 100% 50%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 38%, 9% 36%, 17% 40%, 24% 44%, 29% 42%, 38% 42%, 43% 48%, 50% 51%, 56% 47%, 59% 40%, 68% 39%, 77% 46%, 79% 53%, 87% 54%, 90% 50%, 94% 46%, 98% 46%, 100% 52%, 100% 100%, 0% 100%);
  }
}

.animate-movement-text {
  animation: animate 4s ease-in-out infinite;
}


/* circel icon loop animatetion and responsive other page */
@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}

.animate-rotate-circle {
  animation: rotate 8s linear infinite;
}

@media (min-width: 768px) {
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translateX(130px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(130px) rotate(-360deg);
    }
  }
}

@media (min-width: 1024px) {
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
  }
}


/* set text out line with outline */
.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  /* text-shadow: 
  0 0 10px rgba(0, 0, 0, 0.5),  
  0 0 20px rgba(255, 255, 255, 0.5),  
  0 0 30px rgba(255, 255, 255, 0.5),  
  0 0 40px rgba(255, 255, 255, 0.5); */
}

.text-outline-no-tran {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  
  /* text-shadow: 
  0 0 10px rgba(0, 0, 0, 0.5),  
  0 0 20px rgba(255, 255, 255, 0.5),  
  0 0 30px rgba(255, 255, 255, 0.5),  
  0 0 40px rgba(255, 255, 255, 0.5); */
}

/* custom.css */

.rounded-tr-4xl {
  border-top-right-radius: 12rem; /* You can adjust the value as needed */
}
.rounded-bl-4xl {
  border-bottom-left-radius: 12rem; /* You can adjust the value as needed */
}


.hover-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  z-index: -1;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
}

/* h1#name-text-hero:hover .hover-bg {
  opacity: 1;
  transform: scale(1.05);
}

.hover-effect {
  position: relative;
  z-index: 10;
}

.hover-effect::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: -1;
}

.hover-effect:hover::before {
  transform: translate(-50%, -50%) scale(1.05);
  opacity: 1;
} */
